# ===== .NET =====
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log

# ===== Node / Angular =====
node_modules/
dist/
.angular/

# ===== Environment & Secrets =====
appsettings.Development.json
.env
.env.*

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Docker =====
docker-data/

